@media (max-width: 1024px) {

}

@media (max-width: 414px) {
  .EntryInputPasswordEyes {
    margin-top: 40px;
    right: 3%;
  }
  .EntryInput {
    padding: 20px 20px;
    width: 100%;
    right: 3%;
  }
  .EntryBtn{
    width: 40%;
    display:flex;
    align-items: center;
    justify-content: center;
  }

}