footer {
  .footer_input{
    padding-right: 100px;
    outline: none;
    font-size: 12px;
    transform: translateY(15px);
    margin-bottom: 20px;
  }
  .footer_input:focus {
    margin-top: 10px;
  }
  .footer-logo {
    width: 179px;
    height: 190px;
  }
}