@import "varibles";

#hero {
  padding-top: 80px;
}
.hero-shadow {
  z-index: -1;
  width: 500px;
  height: 500px;
  background: $mainColor;
  filter: blur(700px);
  position: absolute;
  left: 10px;
  top: 0;
}

.course-sld-2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title_hero {
  font-size: 50px;
}

.hero-shadow2 {
  z-index: -1;
  width: 500px;
  height: 500px;
  background: $mainColor;
  filter: blur(700px);
  position: absolute;
  right: 18%;
  top: 10%;
}

.hero-btn {
  border: 1px solid #9099A3;


}

.hero-btn:hover {

  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.course-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.masterName {
  display: flex;
}

//SLIDER
.CourseSlider {
  position: relative;
  margin-top: -75px;
  padding-top: 80px;
  width: 100%;
  overflow: hidden;
  height: auto;
  padding-bottom: 100px;
}

.CourseSlider .slick-track {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.CourseTitle2 {
  position: relative;
  overflow: hidden;
}

.course-sld {
  height: 280px;
}


.CourseSlider .slick-next {
  position: absolute;
  font-size: 0;
  top: 0;
  left: 276px;
  width: 44px;
  height: 44px;
  background: url("../../assets/img/arrow-next.svg") no-repeat center/12px #FFFFFF;
  border-radius: 15px;


}

.CourseSlider .slick-prev {
  position: absolute;
  font-size: 0;
  top: 0;
  left: 206px;
  width: 44px;
  height: 44px;
  background: url("../../assets/img/arrow-prev.svg") no-repeat center/12px #FFFFFF;
  border-radius: 15px;
  z-index: 1;
}

#kaizen-school {
  min-height: 100vh;
  z-index: -5;

  &:before {
    display: none;
    background: url("../../assets/img/mask2.png") no-repeat center/cover;

  }
}


@media (max-width: 1024px) {
  .masterName {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 992px) {
  .course-sld {
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
  }
  .CourseSlider {
    padding-top: 100px !important;
  }


  .CourseSlider {
    padding: 0;
    margin-bottom: 50px;
  }

}

@media (max-width: 768px) {
  .CourseSlider {
    padding: 0;
    margin-bottom: 50px;
  }
  .hero-shadow {
    width: 300px;
    height: 400px;
  }
  .hero-shadow2 {
    width: 300px;
    height: 400px;
  }
}

@media (max-width: 576px) {


  .CourseSlider .slick-slide {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 100%;
  }
  .hero-shadow {
    width: 250px;
  }
  .hero-shadow2 {
    width: 250px;
  }
  .kaizen-school {
    display: none;
  }
  #kaizen-school {
    &:before {
      object-fit: cover;
      position: absolute;
      content: '';
      background: url("../../assets/img/heroImg.png") no-repeat center/cover !important;
      width: 60%;
      left: 22%;
      top: 10%;
      height: 80%;
      display: block;
      z-index: -2;
      bottom: 0;
    }

    &:after {
      bottom: -10%;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      z-index: -1;
    }
  }
  .amanSoft {
    display: none;
  }
}

@media (max-width: 425px) {
  .course-sld-2 {
    border-bottom: 1px solid #1a5cff;
    margin-bottom: 10px;
  }

}

@media (max-width: 414px) {


}

//@media (min-width: 640px) {
//  .container {
//    max-width: 872px !important;
//  }
//}

@media (max-width: 320px) {
  .course-sld {
    height: 400px;
  }
}

